build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
.emergency-services-platform
.cursorrules
.cursor/
# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Ignore Docker files
Dockerfile

# local env files
.env*.qa
.env.qa
